@import "tailwindcss";

@theme {
  --color-google-blue: #0B57D0;
  --color-google-grey: #F8F9FA;

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  @apply bg-[#F0F2F5] selection:bg-blue-100;
  -webkit-font-smoothing: antialiased;
}